.advantages {
	padding-bottom: 60px;

	background: linear-gradient(to bottom, #f7f8f9 0%, #f3f3f3 10%, #f3f3f3 100%);
	&__title {
		@extend .title-lines;
	}
	&__list-items {
		display: flex;

		padding: 0 114px;

		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
		@media screen and (max-width: 960px) {
			padding: 0;
		}
	}
}

.advantages-item {
	width: 240px;
	margin-top: 40px;

	text-align: center;
	text-transform: uppercase;

	color: #2c2a29;

	font-size: em(22px);
	font-weight: 700;
	@media screen and (max-width: 960px) {
		margin: 40px auto 0;
	}
	&:before {
		position: relative;

		display: block;

		margin: 0 auto 15px;

		content: "";
	}
	&--discount {
		&:before {
			@include bg($discount);
		}
	}
	&--reprieve {
		&:before {
			@include bg($reprieve);
		}
	}
	&--direct-delivery {
		&:before {
			@include bg($direct-delivery);
		}
	}
	&--uninterrupted-delivery {
		&:before {
			@include bg($uninterrupted-delivery);
		}
	}
	&--free-delivery {
		&:before {
			@include bg($free-delivery);
		}
	}
	&--packing {
		&:before {
			@include bg($packing);
		}
	}
}
