mixin advantages()
	section.advantages
		.advantages__title
			span Наши преимущества

		.advantages__list-items
			.advantages-item.advantages-item--discount гибкая система скидок
			.advantages-item.advantages-item--reprieve возможность отсрочки платежа
			.advantages-item.advantages-item--direct-delivery прямые поставки от производителя
			.advantages-item.advantages-item--uninterrupted-delivery бесперебойные поставки
			.advantages-item.advantages-item--free-delivery бесплатная доставка по краснодару
			.advantages-item.advantages-item--packing индивидуальная фасовка