mixin container()
	section.container
		.container__title
			span Фасуем в пластиковые контейнеры

		.container__description При слове «икра» сразу возникают ассоциации – красная, чёрная, ну, и «заморская баклажанная».  Сегодня икра перестала быть дефицитом, да и по цене многие её виды уже вполне доступны.  А кроме того, в последние годы появилось столько видов икры, о которых мы раньше не слышали, или только читали в кулинарных книгах, это икра рыб менее "благородного" происхождения, нежели лосося и осетра: сига, сазана, судака, щуки, минтая, мойвы, трески. 