// Common styles of the project

html,
body {
	height: 100%;

	background-image: url(%=staticPrefixForCss=%general/bg.jpg);
	background-size: 100% auto;

	font-family: "Calibri";
	@media screen and (min-width: 1600px), not all, screen and (-webkit-min-device-pixel-ratio: 1.5) {
		background-image: url(%=staticPrefixForCss=%general/bg2@2x.jpg);
	}
	@media screen and (max-width: 1024px) {
		background-image: none;
	}
}

.main {
	position: relative;

	box-sizing: border-box;
	width: 1140px;
	margin: auto;

	background: $gray;
	box-shadow: 0 0 16px rgba(0,0,0,.31);
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
}
