@font-face {
  font-family: 'NautilusPompilius';
  src: url('../fonts/NautilusPompilius.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/NautilusPompilius.woff') format('woff'), 
  	   url('../fonts/NautilusPompilius.ttf')  format('truetype'), 
  	   url('../fonts/NautilusPompilius.svg#NautilusPompilius') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/PTSans-Italic.woff') format('woff'), 
  	   url('../fonts/PTSans-Italic.ttf')  format('truetype'), 
  	   url('../fonts/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Calibri.woff') format('woff'), 
  	   url('../fonts/Calibri.ttf')  format('truetype'), 
  	   url('../fonts/Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}
