mixin about-caviar()
	section.about-caviar#about-caviar
		.about-caviar__title 
			span О нашей икре

		.about-caviar__description При слове «икра» сразу возникают ассоциации – красная, чёрная, ну, и «заморская баклажанная».  Сегодня икра перестала быть дефицитом, да и по цене многие её виды уже вполне доступны.  А кроме того, в последние годы появилось столько видов икры, о которых мы раньше не слышали, или только читали в кулинарных книгах, это икра рыб менее "благородного" происхождения, нежели лосося и осетра: сига, сазана, судака, щуки, минтая, мойвы, трески. 

		.about-caviar__row.about-caviar__row--first
			.about-caviar-item
				img(src="%=staticPrefix=%images/content/about-caviar-1.png" alt="").about-caviar-item__img
				.about-caviar-item__title Икра 1 сорта
				.about-caviar-item__text Какой-нибудь текст о том, что при слове «икра» красная, чёрная, ну, и «заморская баклажанная». 

			.about-caviar-item
				img(src="%=staticPrefix=%images/content/about-caviar-2.png" alt="").about-caviar-item__img
				.about-caviar-item__title слабосолёная 2,8%-3,2%
				.about-caviar-item__text Какой-нибудь текст о том, что при слове «икра» красная, чёрная, ну, и «заморская баклажанная». 

			.about-caviar-item
				img(src="%=staticPrefix=%images/content/about-caviar-3.png" alt="").about-caviar-item__img
				.about-caviar-item__title оптимальная зрелось икринок
				.about-caviar-item__text Какой-нибудь текст о том, что при слове «икра» красная, чёрная, ну, и «заморская баклажанная». 

		.about-caviar__row.about-caviar__row--second
			.about-caviar-item
				img(src="%=staticPrefix=%images/content/about-caviar-4.png" alt="").about-caviar-item__img
				.about-caviar-item__title бережное хранение
				.about-caviar-item__text Какой-нибудь текст о том, что при слове «икра» красная, чёрная, ну, и «заморская баклажанная». 

			.about-caviar-item
				img(src="%=staticPrefix=%images/content/about-caviar-5.png" alt="").about-caviar-item__img
				.about-caviar-item__title отличная консистенция
				.about-caviar-item__text Какой-нибудь текст о том, что при слове «икра» красная, чёрная, ну, и «заморская баклажанная». 

			.about-caviar-item
				img(src="%=staticPrefix=%images/content/about-caviar-6.png" alt="").about-caviar-item__img
				.about-caviar-item__title сертифицирована
				.about-caviar-item__text Какой-нибудь текст о том, что при слове «икра» красная, чёрная, ну, и «заморская баклажанная». 