.about-caviar {
	padding-top: 20px;
	padding-bottom: 50px;

	background: linear-gradient(to bottom, #f8f9fb 0%,#efeae7 20%,#efeae7 80%,#f7f8f9 100%);
	@media screen and (max-width: 960px) {
		padding-bottom: 0;
	}
	&__title {
		@extend .title-lines;
	}
	&__description {
		@extend .description;
	}
	&__row {
		display: flex;

		margin-top: 50px;
		padding: 0 103px;

		align-items: flex-start;
		justify-content: space-between;
		@media screen and (max-width: 960px) {
			margin-top: 0;
			padding: 0;

			flex-wrap: wrap;
		}
		&--first {
			background: url(%=staticPrefixForCss=%general/wave-up.png) no-repeat;
		}
		&--second {
			background: url(%=staticPrefixForCss=%general/wave-down.png) no-repeat;
		}
	}
}

.about-caviar-item {
	width: 210px;

	text-align: center;
	@media screen and (max-width: 960px) {
		margin: 0 auto 30px;
	}
	&__img {
		margin-bottom: 12px;
		@media screen and (max-width: 960px) {
			width: 80%;
		}
		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}
	&__title {
		width: 90%;
		margin: auto;

		text-transform: uppercase;

		color: #2c2a29;

		font-size: em(22px);
		font-weight: 700;
		@media screen and (max-width: 960px) {
			font-size: em(18px);
		}
		@media screen and (max-width: 480px) {
			font-size: em(22px);
		}
	}
	&__text {
		margin-top: 10px;

		text-align: left;

		color: #54514d;

		font-size: em(18px);
		@media screen and (max-width: 960px) {
			font-size: em(16px);
		}
		@media screen and (max-width: 480px) {
			font-size: em(18px);
		}
	}
}
