mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			a(href="#" title="").top-menu__item Продукция
			a(href="#" title="").top-menu__item Фасовка
			a(href="#" title="").top-menu__item Об икре
			a(href="#" title="").top-menu__item Преимущества
			a(href="#" title="").top-menu__item Сертификаты
			a(href="#" title="").top-menu__item Контакты