mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			a(href="#catalog" title="Продукция").top-menu__item Продукция
			//- a(href="#" title="").top-menu__item Фасовка
			a(href="#about-caviar" title="Об икре").top-menu__item Об икре
			a(href="#advantages" title="Преимущества").top-menu__item Преимущества
			a(href="#sertificate" title="Сертификаты").top-menu__item Сертификаты
			a(href="#contact" title="Контакты").top-menu__item Контакты