mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			a(href="#catalog" title="Продукция" onclick="return: false;").top-menu__item Продукция
			//- a(href="#" title="").top-menu__item Фасовка
			a(href="#about-caviar" title="Об икре" onclick="return: false;").top-menu__item Об икре
			a(href="#advantages" title="Преимущества" onclick="return: false;").top-menu__item Преимущества
			a(href="#sertificate" title="Сертификаты" onclick="return: false;").top-menu__item Сертификаты
			a(href="#contact" title="Контакты" onclick="return: false;").top-menu__item Контакты