mixin sertificate()
	section.sertificate
		.sertificate__title
			span Сертификаты качества нашей икры

		.sertificate__list
			img(src="%=staticPrefix=%images/content/sertificate-1.jpg" alt="").sertificate__item
			img(src="%=staticPrefix=%images/content/sertificate-2.jpg" alt="").sertificate__item
			img(src="%=staticPrefix=%images/content/sertificate-3.jpg" alt="").sertificate__item