mixin catalog-modal()
	.modal#modal-1
		.modal__close
		.modal__title Икра красная, лососевая, зернистая, (горбуши), 22 кг

		.modal__content
			.modal-images
				.modal-images__big
					img(src="%=staticPrefix=%images/content/modal-images-big.jpg" alt="")
				.modal-images__small
					img(src="%=staticPrefix=%images/content/modal-images-small-1.jpg" alt="")
					img(src="%=staticPrefix=%images/content/modal-images-small-2.jpg" alt="")
					img(src="%=staticPrefix=%images/content/modal-images-small-3.jpg" alt="")
			.modal-description
				p Упаковка: 
					span вакуумная
				p Производство: 
					span ООО “Тунайча”
				p Состав: 
					span икра горбуши, соль, масло растительное, консерванты
				p Размер икринки: 
					span 5 мм
				p Солёность: 
					span умеренная
				p Дата произволства: 
					span сентябрь 2015
				p Срок годности: 
					span при температуре от -4 до -6, 6 месяцев
				p Пищевая ценность: 
					span белки 5%, жиры 20%, углеводы 10%
				p Калорийность: 
					span 228 кКал       

				.modal-description__cost  от 2300 руб.

			.modal__text
				p При слове «икра» сразу возникают ассоциации – красная, чёрная, ну, и «заморская баклажанная».  Сегодня икра перестала быть дефицитом, да и по цене многие её виды уже вполне доступны.  
				p А кроме того, в последние годы появилось столько видов икры, о которых мы раньше не слышали, или только читали в кулинарных книгах, это икра рыб менее "благородного" происхождения, нежели лосося и осетра: сига, сазана, судака, щуки, минтая, мойвы, трески. 
	.mask