mixin header()
	header.header
		a(href="#" title="").header__logo
		+top-menu()
		.header-contact
			.header-contact__phone +7 495 
				span 724-35-26
			a(href="#" title="").header-contact__btn заказать звонок